@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  background: #e1e1e1;
  font-family: halyard-display, sans-serif;
}

.strokeText:hover {
  cursor: pointer;
  color: #e1e1e1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

