// buttons
button {
    @include btn-theme($accent-color1, $base-light);
    transition: 0.5s ease-in-out;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
        transform: scale(1.05);
    }
}

#background-color-btn {
    background: $accent-color4 no-repeat 1.5rem/50% url(../images/color.png);
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px $accent-color1;
    text-indent: -9999px;
}




