// Placeholder
%btn  {
    font-size: 1.2rem;
    font-weight: $bold-weight;
    border: 0;
    padding: 1rem 2rem;
    border-radius: 0.5rem;

    @media (min-width: 600px) {
        font-size: 1.5rem;
    }
 }

 %modalWindow  {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $base-light;
    border: 0.2rem solid $accent-color4;
    border-radius: 0.5rem 0.5rem 0 0;
    z-index: 101;
 }

 %modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $accent-dark4;
    overflow: hidden;
    z-index: 100;
 }