// font stack
$base-heading: 'Heebo', sans-serif;
$paragraph: 'DM Sans', sans-serif;

// font-weight
$heavy-weight: 800;
$bold-weight: 700;
$medium-weight: 600;
$regular-weight: 500;

// Base 
$base-light: #fff;
$base-dark: rgba(18, 18, 18, 1);


// Accent
$accent-color1: rgba(103, 85, 157,1);
$accent-color2: rgba(58, 120, 168, 1);
$accent-color3: rgba( 85, 152, 123, 1);
$accent-color4: #9393C3;
$accent-light1: rgba( 229, 234, 240, 1);
$accent-light2: rgba(18, 18, 18, 0.1);
$accent-light3: rgba(173, 173, 173, 1);
$accent-dark1: rgba(18, 18, 18, 0.5);
$accent-dark2: rgba(87, 87, 88, 1);
$accent-dark3: rgba(22, 31, 38, 1);
$accent-dark4: rgba(22,31,38,0.2);


// Background 
$base-background: rgba( 252, 250, 255, 1);
$task-background: rgba( 226, 225, 240, 1);
$medium-priority-background: rgba( 251, 242, 202, 1);
$high-priority-background: rgba( 247, 227, 226, 1);
$low-priotiy-background: rgba( 216, 249, 229, 1);

// Text colors
$medium-priority-text:rgba( 128, 73, 31, 1);
$high-priority-text: rgba( 147, 56, 49, 1);
$low-priority-text: rgba( 42, 91, 69, 1);
$error: red;
$success: green;

// Border colors
$accent-border1: rgba(103, 85, 157,0.1);
$accent-border2: rgba(58, 120, 168, 0.1);
$accent-border3: rgba( 85, 152, 123, 0.1);

// icons
$add-icon: url("../images/add.png");
